In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
def structurize(set_: set) -> pd.DataFrame:
    return pd.DataFrame(list(set_), columns=["CpG"]).set_index("CpG")


def extract(df, threshold=0.1, alpha=0.05):
    """Function to extract CpGs from report"""
    df = df[(df["Delta mean"].abs() > threshold) & (df["q-value"] <= alpha)]
    return set(df.index)

In [10]:
epic = pd.read_csv("../data/Additional/EPIC/MethylationEPIC_v-1-0_B4.csv", index_col=0, low_memory=False)
epic = epic[["UCSC_RefGene_Name", "UCSC_RefGene_Group", "Relation_to_UCSC_CpG_Island"]]

In [12]:
epic

,UCSC_RefGene_Name,UCSC_RefGene_Group,Relation_to_UCSC_CpG_Island
IlmnID,,,
cg07881041,PTPRS;PTPRS;PTPRS;PTPRS,Body;Body;Body;Body,N_Shore
cg18478105,YTHDF1,TSS200,Island
cg23229610,NaN,NaN,N_Shelf
cg03513874,NaN,NaN,S_Shelf
cg09835024,EIF2S3,TSS1500,Island
...,...,...,...
71678368,NaN,NaN,NaN
72748406,NaN,NaN,NaN
73635489,NaN,NaN,NaN
73784382,NaN,NaN,NaN
73794434,NaN,NaN,NaN

In [3]:
# All DMPs in ALL cov groups vs HB

In [35]:
report = pd.read_csv("../DMPsInAllCoVGroups.csv", index_col=0).set_index("CpG")
report = pd.concat((report, epic.loc[report.index]), axis=1)
report.to_csv("../Annots/DMPsInAllStudiesAnnots.csv")
report

,UCSC_RefGene_Name,UCSC_RefGene_Group,Relation_to_UCSC_CpG_Island
CpG,,,
cg10182306,CLCNKA;CLCNKA;CLCNKA,Body;Body;Body,NaN
cg09622330,GRIN2A;GRIN2A;GRIN2A,Body;Body;Body,NaN
cg08585897,KARS;TERF2IP;KARS,5'UTR;TSS1500;Body,N_Shore
cg15004555,AIM2,Body,NaN
cg02187666,NaN,NaN,NaN
...,...,...,...
cg10299917,LRP5L,5'UTR,NaN
cg07222421,MSTO2P,Body,S_Shelf
cg10690677,CLCA4;CLCA4,Body;Body,Island
cg18507060,OAS3;OAS3,ExonBnd;Body,NaN
cg12981595,KRTAP4-8,TSS200,NaN

In [26]:
# non-Cov vs HB

In [46]:
report = structurize(extract(pd.read_csv("output/USANoNCoV_vs_HB_ALLProbes.csv", index_col=0)))
report = pd.concat((report, epic.loc[report.index]), axis=1)
report.to_csv("../Annots/DMPsNonCovVsHBAnnots.csv")
report

,UCSC_RefGene_Name,UCSC_RefGene_Group,Relation_to_UCSC_CpG_Island
CpG,,,
cg12981595,KRTAP4-8,TSS200,NaN
cg11325989,KRT6A,Body,NaN
cg25060243,UGT1A10;UGT1A6;UGT1A8;UGT1A6;UGT1A9;UGT1A4;UGT...,Body;Body;Body;Body;Body;TSS1500;Body;Body,NaN
cg10685380,IL12B,Body,NaN
cg15882280,NaN,NaN,NaN
...,...,...,...
cg02568557,BARX2,Body,NaN
cg19963700,ROR1;ROR1,Body;Body,NaN
cg19048658,NaN,NaN,NaN
cg10162971,GRHL1,Body,S_Shore
cg09232520,TRPS1;TRPS1;TRPS1,Body;Body;Body,NaN

In [47]:
# non Cov vs CoV

In [48]:
report = structurize(extract(pd.read_csv("output/USANoNCoV_vs_CoV_ALLProbes.csv", index_col=0)))
report = pd.concat((report, epic.loc[report.index]), axis=1)
report.to_csv("../Annots/DMPsNonCovVsCoVAnnots.csv")
report

           UCSC_RefGene_Name UCSC_RefGene_Group Relation_to_UCSC_CpG_Island
CpG
cg10123669             STK39               Body                         NaN
cg11015557              POLE               Body                         NaN
cg02770216       AKAP9;AKAP9          Body;Body                         NaN
cg15215519               NaN                NaN                         NaN
cg14366738            IGFBP5               Body                         NaN
...                      ...                ...                         ...
cg17114584    IRF7;IRF7;IRF7     Body;Body;Body                     N_Shore
cg03607951            IFI44L            TSS1500                         NaN
cg17354858               NaN                NaN                         NaN
cg24388175    PCCA;PCCA;PCCA     Body;Body;Body                         NaN
cg13982456               NaN                NaN                     S_Shelf

[168 rows x 3 columns]